

ul{
    list-style: none;
}
.maps-nav {
    display: flex;
    justify-content: flex-start; 
        gap: 60px;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* ↑横向滑动 */
    list-style: none;
    padding: 12px;
    scroll-snap-type: x proximity;
}
.maps-nav li{
    flex: 0 0 auto;
    /* ↑flex-grow:   0          多余空间不要强制长大
        flex-shrink: 0          空间不足不要缩小
        flex-basis:  auto       基础尺寸根据自己内容决定 */  
    scroll-snap-align: start;
}
.map-item {
    padding: 12px 12px 12px;
    border: 1px solid #b32323;
    /* ↑元素框 */
    min-width: 60px;
    /* ↑最小尺寸 */
}
/* ↓调整图标大小 */
.map-item img{
    display: block;
    width: 64px;
    height: auto;
}
@media (min-width: 900px) {
    .map-item img {
        width: 120px;
    }
}
